<!-- SearchController Widget -->
<div class="card my-4" xmlns="http://www.w3.org/1999/html">
    <h5 class="card-header">Rechercher une créature</h5>
    <div class="card-body">
        <form class="input-group" action="{{ path('app_creatures_search') }}" method="GET">
            <input type="text" class="form-control" name="smartkey" id="smartkey">
            <span class="input-group-btn">
                <input class="btn btn-secondary" type="submit" >Go!</input>
            </span>
        </form>
    </div>
</div>
{{ render(controller('App\\Controller\\Front\\TagsController::list')) }}