{% extends 'base.html.twig' %}

{% block title %}Edit Pages{% endblock %}

{% block body %}
    <h1>Edit Pages</h1>

    {{ include('pages/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pages_index') }}">back to list</a>

    {{ include('pages/_delete_form.html.twig') }}
{% endblock %}
