{% extends 'base.html.twig' %}

{% block title %}New Pages{% endblock %}

{% block body %}
    <h1>Create new Pages</h1>

    {{ include('pages/_form.html.twig') }}

    <a href="{{ path('pages_index') }}">back to list</a>
{% endblock %}
