{% extends 'base.html.twig' %}

{% block title %}New Creatures{% endblock %}

{% block body %}
    <h1>Create new Creatures</h1>

    {{ include('admin/creatures/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_admin_creatures_index') }}">back to list</a>
    <hr/>
{% endblock %}
