{% extends 'base.html.twig' %}

{% block title %}New Creatures{% endblock %}

{% block body %}
    <h1>Create new Creatures</h1>

    {{ include('creatures/_form.html.twig') }}

    <a href="{{ path('creatures_index') }}">back to list</a>
{% endblock %}
