{% include 'partials/_head.html.twig' with {title: block('title')}  %}
<body>
{% block nav %}{% endblock %}
<!-- Page Content -->
<div class="container">
    <div class="row">

        {% for message in app.flashes('success') %}
            <div class="alert-success">
                {{ message }}
            </div>
        {% endfor %}
         <!-- Post Content Column -->
        <div class="col-lg-8">
            {% block body %}{% endblock %}
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            {% block sidebar %}{% endblock %}
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% include 'partials/_footer.html.twig' %}